.chatCard {
  border: 1px solid white;
  width: 100%;
  padding: 0px;
  background-color: #f6f8ff;
  font-weight: 900;
  color: #2a9d8f;
  grid-template-columns: 100px 50px 100px;
  min-width: 350px;
}

.activeChatCard {
  border: 1px solid white;
  width: 100%;
  padding: 0px;
  background-color: #f6f8ff;
  font-weight: 900;
  color: black;
  min-width: 350px;
}

.chatInfoContainer {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  gap: 20px;
  max-width: 300px;
  margin: 0 auto;
}
.chatCard:hover {
  color: #ba324f;
  cursor: pointer;
  background-color: ghostwhite;
}

.chatCardButton {
  color: #f6f8ff;
  text-decoration: none;
}

.chatName {
  font-weight: 900;
  justify-self: start;
  width: 35px;
}

.chatImage {
  width: 35px;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: center;
  align-self: center;
}
