.chatList {
  border: 1px solid black;
}
.chatHeader {
  color: #175676;
  font-weight: 900;
  font-size: 35px;
}

.newChatButton {
  padding: 1em 3em;
  margin-top: 20px;
  background-color: #175676;
  color: ghostwhite;
  border: 1px solid #175676;
  border-radius: 5px;
}

.newChatButton:hover {
  border: 1px solid white;
  cursor: pointer;
}

.logoutContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
  align-items: center;
  border-bottom: 1px solid black;
  gap: 20px;
}

.logoutButton {
  background-color: #ba324f;
  padding: 0.5em;
  color: ghostwhite;
  border-radius: 5px;
  border: 1px solid #ba324f;
}

.subHeader {
  padding: 0em;
  margin: 0;
}
