.chatCard {
  border: 1px solid black;
  border-radius: 0.5em;
  width: 100%;
  margin: 0.2em auto;
  padding: 0.8em;
  background-color: #0e79b2;
}

.chatCard:hover {
  background-color: #bf1363;
}

.chatCardButton {
  color: #fbfef9;
  text-decoration: none;
}
